.sidebar__wrapper {
  margin-left: 120px;
  max-width: 325px;
}
.sidebar__title {
  font-size: 24px;
  line-height: 36px;
  color: #474747;
  margin-bottom: 35px;
  font-family: 'Roboto Mono';
  font-weight: 400;
}

.sidebar__desc {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto Mono';
  font-weight: 400;
}

.explore::after {
  content: url(../../../../assets/img/right.svg);
  margin-left: 24px;
  align-items: baseline;
  padding: 6px 6px 6px 6px;
  background-color: #d8d7d7;
  border-radius: 5px;
}

.socials {
  margin-top: 55px;
  margin-left: 95px;
}

.socials__link {
  margin-left: 25px;
}

@media only screen and (max-width: 1140px){
  .sidebar__wrapper{
    display: none;
  }
  .socials {
    display: none;
  }
}